.shape {
  height: 0;
  width: 0;
  /* border-bottom: 30px solid crimson; */
  border-bottom: 30px solid #FF4F00;
  /* border-left: 20px solid green;
  border-right: 20px solid blue; */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}